.submit,
.button,
.cancel {
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 8px;

    height: 38px;
    width: 120px;

    background: var(--color-button-submit);
    border-radius: var(--radius-pill);
}


.submit:hover,
.cancel:hover {
    background-color: var(--color-button-submit-hover);
}

.button:active {
    background-color: var(--color-box-hover);
}

.cancel:active{
    background-color: var(--color-button-cancel-active);
}


.submit:active {
    background-color: var(--color-button-submit-active);
}