.field {
    background-color: var(--color-input-field);
    color: var(--color-text-input);
    border: 0.5px solid var(--color-input-field-border);

    border-radius: var(--radius-pill);
    font-size: var(--font-size-md);
    font-weight: lighter;
    width: 60%;
    height: 30px;
}

.fieldBox {
    margin-bottom: 7px;
}

.label {
    font-weight: bold;
}

.error {
    font-weight: bold;
    color: var(--color-text-error);
}