.box {
  position: relative;

  padding: 18px;
  margin: 20px;

  border-radius: var(--radius-sm);
  font: inherit;
  background-color: var(--color-box-bg);
}

.boxLink {
  text-decoration: none;

  cursor: pointer;
  font: inherit;
  color: var(--color-text);
}


.box:hover{
  background-color: var(--color-box-hover);
}