@import '../settings/colors.css';
@import '../settings/typography.css';


body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-size: var(--font-size-base);
  overflow-wrap: break-word;
}


button {
  position: relative;
  color: var(--color-text);
  background-color: var(--color-box-bg);
  border: none;
  font: inherit;
  cursor: pointer;
}